{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Turismo en la Amazonía</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap-grid.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>
<body>

<div id="header-container"></div>

<section class="card">
  <h2 class="titulo">Destinos en la Amazonía</h2>
    <div class="card card-flex">
        <h2 class="subtitulo">Tena</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/tena1.jpg' %}" alt="1">
                <img src="{% static 'img/tena2.jpg' %}" alt="2">
                <img src="{% static 'img/tena3.jpg' %}" alt="3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
              <p>Punto de entrada a la Amazonía ecuatoriana, conocido por su biodiversidad y ríos para rafting.</p>
              <h3>🍛Comida Típica</h3>
              <ul>
                <li>Maito de tilapia</li>
                <li>Chontacuro </li>
                <li>Yuca cocida con ají</li><br>
              </ul>
            </div>
            <div>
            <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
            <div class="info-caja">
              <h4>🏢Hoteles recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-tena1.jpg' %}" alt="Cotococha Amazon Lodge" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Cotococha Amazon Lodge</h3>
                    <p class="location">Remolino Latas, Km 10 Vía Ahuano, Tena, Ecuador, a orillas del río Napo.</p>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(55)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$100 por noche<br><span class="total">($108 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-tena2.jpg' %}" alt="Hostería Las Heliconias" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hostería Las Heliconias</h3>
                    <p class="location">Avenida El Pana, km 1 1/2, a cinco minutos de la ciudad.</p>
                    <p class="rating">⭐ 8.9/10 <span class="review-count">(58)</span></p>
                    <p class="comment">“Muy Bueno”</p>
                    <p class="price">$95 por noche<br><span class="total">($102 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-tena3.jpg' %}" alt="Hotel Christian Resort" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hotel Christian Resort</h3>
                    <p class="location">En Misahuallí, en el sector de Kuyaloma, en Tena, provincia de Napo.</p>
                    <p class="rating">⭐ 9.3/10 <span class="review-count">(65)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$100 por noche<br><span class="total">($118 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
              <h4>🍽️Restaurantes recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-tena1.jpeg' %}" alt="Café Tortuga" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Café Tortuga</h3>
                    <p class="location">Malecón de Tena, en la calle Francisco de Orellana.</p>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(41)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $10 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-tena2.webp' %}" alt="Amazoonico" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Amazoonico</h3>
                    <p class="location">En el km 4 de la vía a Ahuano, en Campanacocha Dorado.</p>
                    <p class="rating">⭐ 9.2/10 <span class="review-count">(70)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $8 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-tena3.jpg' %}" alt="Pizzería Los Lagos" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Pizzería Los Lagos</h3>
                    <p class="location">En el centro de la ciudad de Tena.</p>
                    <p class="rating">⭐ 9.4/10 <span class="review-count">(60)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $10 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
            </div>
          <div class="oferta-contenedor">
            <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
            <p class="oferta-descripcion">
              Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
              <span class="precio">$170</span>
            </p>
            <button class="boton adquirir-paquete " data-nombre="Tena" data-precio="170"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
          </div>
          </div>
        </div>
    </div>

    <div class="card card-flex">
        <h2 class="subtitulo">Puyo</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/puyo.jpg' %}" alt="1">
                <img src="{% static 'img/puyo2.webp' %}" alt="2">
                <img src="{% static 'img/puyo3.jpg' %}" alt="3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
              <p>Ciudad rodeada de ríos y vegetación, con acceso a comunidades indígenas y centros de rescate animal.</p>
              <h3>🍛Comida Típica</h3>
              <ul>
                <li>Maito de pollo</li>
                <li>Sancocho amazónico</li>
                <li>Tzamba con guayusa</li><br>
              </ul>
            </div>
            <div>
            <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
            <div class="info-caja">
              <h4>🏢Hoteles recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-puyo1.webp' %}" alt="El Jardín Hotel" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>El Jardín Hotel</h3>
                    <p class="location">barrio Obrero de Puyo, Ecuador, frente al río Puyo.</p>
                    <p class="rating">⭐ 9.2/10 <span class="review-count">(67)</span></p>
                    <p class="comment">“excelente”</p>
                    <p class="price">$82 por noche<br><span class="total">($90 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-puyo2.jpg' %}" alt="Hostería Turingia" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hostería Turingia</h3>
                    <p class="location">Ceslao Marín 294 y Javier Vargas, frente a la oficina de encomiendas de la Cooperativa Touris San Francisco.</p>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(58)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$95 por noche<br><span class="total">($102 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-puyo3.jpeg' %}" alt="Hotel Ecológico Ruta de la Cascada" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hotel Ecológico Ruta de la Cascada</h3>
                    <p class="location">Km 2 Via Puyo - Baños. Ruta de las Cascadas.</p>
                    <p class="rating">⭐ 9.7/10 <span class="review-count">(65)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$90 por noche<br><span class="total">($98 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
              <h4>🍽️Restaurantes recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-puyo1.png' %}" alt="Tradiciones Amazónicas" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Tradiciones Amazónicas</h3>
                    <p class="location">En la calle Río. Rivadeneira y Alberto Zambrano junto al Terminal Terrestre.</p>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(41)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $11 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-puyo2.jpg' %}" alt="El Jardín Restaurante" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>El Jardín Restaurante</h3>
                    <p class="location">En el Barrio Obrero (Cruzando el puente colgante 45, Puyo)</p>
                    <p class="rating">⭐ 9.1/10 <span class="review-count">(60)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $13 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-puyo3.jpg' %}" alt="Restaurante Las Cabañas" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Restaurante Las Cabañas</h3>
                    <p class="location">Se encuentra en la entrada al Puyo.</p>
                    <p class="rating">⭐ 9.2/10 <span class="review-count">(50)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $8 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
            </div>
          <div class="oferta-contenedor">
            <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
            <p class="oferta-descripcion">
              Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
              <span class="precio">$135</span>
            </p>
            <button class="boton adquirir-paquete " data-nombre="Puyo" data-precio="135"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
          </div>
          </div>
        </div>
    </div>

    <div class="card card-flex">
        <h2 class="subtitulo">Lago Agrio</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/lago-agrio1.jpg' %}" alt="1">
                <img src="{% static 'img/lago-agrio2.webp' %}" alt="2">
                <img src="{% static 'img/lago-agrio3.jpg' %}" alt="3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
                <p>Lago Agrio es la puerta de entrada a la selva amazónica del noreste ecuatoriano, especialmente al Cuyabeno, una de las reservas de biodiversidad más importantes del país. La ciudad combina servicios turísticos urbanos con acceso directo a la naturaleza más salvaje del Ecuador.</p>
                <h3>🍛Comida Típica</h3>
                <ul>
                  <li>Tilapia frita</li>
                  <li>Caldo de gallina criolla</li>
                  <li>Ají de palmito</li><br>
                </ul>
            </div>
            <div>
            <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
            <div class="info-caja">
              <h4>🏢Hoteles recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-lago1.jpg' %}" alt="Gran Hotel de Lago" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Gran Hotel de Lago</h3>
                    <p class="location">Está a tan solo 13 minutos a pie de Catedral de Lago Agrio y a 2 minutos a pie de Parque Turístico de Nueva Loja.</p>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(63)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$110 por noche<br><span class="total">($118 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-lago2.jpg' %}" alt="Hotel Arazá" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hotel Arazá</h3>
                    <p class="location">En la vía a Quito y Guayaquil.</p>
                    <p class="rating">⭐ 8.5/10 <span class="review-count">(48)</span></p>
                    <p class="comment">“Bueno”</p>
                    <p class="price">$85 por noche<br><span class="total">($92 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-lago3.jpg' %}" alt="Hotel D’Mario" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hotel D’Mario</h3>
                    <p class="location">Está situado en el corazón de la ciudad de Lago Agrio.</p>
                    <p class="rating">⭐ 9.3/10 <span class="review-count">(65)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$100 por noche<br><span class="total">($118 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
              <h4>🍽️Restaurantes recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-lago1.jpeg' %}" alt="Terraza Amazónica" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Terraza Amazónica</h3>
                    <p class="location">En el quinto piso de un edificio en la intersección de la vía Quito y la avenida Progreso.</p>
                    <p class="rating">⭐ 9.4/10 <span class="review-count">(51)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $12 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-lago2.jpg' %}" alt="Restaurante Picantería Típica" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Restaurante Picantería Típica</h3>
                    <p class="location">En la vía a El Sacha, a 1 km del puente del Río Aguarico, margen izquierdo.</p>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(75)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $14 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-lago3.jpg' %}" alt="El Manantial" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>El Manantial</h3>
                    <p class="location">km 65 de la vía Lago Agrio-Quito, a unos 5 minutos de la carretera principal, en el margen izquierdo.</p>
                    <p class="rating">⭐ 9.1/10 <span class="review-count">(49)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $12 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
            </div>
          <div class="oferta-contenedor">
            <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
            <p class="oferta-descripcion">
              Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
              <span class="precio">$120</span>
            </p>
            <button class="boton adquirir-paquete " data-nombre="Lago Agrio" data-precio="120"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
          </div>
          </div>
        </div>
    </div>

</section>

<div id="footer-container"></div>
<div id="modal-container"></div>

</body>
<script src="{% static 'js/layout.js' %}"></script>
<script src="{% static 'js/carrito.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/info-hoteles.js' %}"></script>
</html>
