{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Turismo en la Costa</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap-grid.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>

<body>

<div id="header-container"></div>

<section class="card">
  <h2 class="titulo">Destinos en la Costa</h2>
    <div class="card card-flex">
        <h2 class="subtitulo">Montañita</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/montañita1.webp' %}" alt="Montañita">
                <img src="{% static 'img/montañita2.jpg' %}" alt="Montañita1">
                <img src="{% static 'img/montañita3.jpg' %}" alt="Montañita3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
              <p>Un vibrante destino costero famoso por el surf, vida nocturna y ambiente bohemio. Ideal para mochileros y jóvenes aventureros.</p>
              <h3>🍛Comida Típica</h3>
              <ul>
                <li>Tigrillo costeño</li>
                <li>Ceviche de camarón</li>
                <li>Bollo de pescado</li><br>
              </ul>
            </div>
            <div>
              <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
              <div class="info-caja">
                <h4>🏢Hoteles recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-montañita1.webp' %}" alt="Dharma Beach Hotel" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Dharma Beach Hotel</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7965.960325738717!2d-80.75774121736683!3d-1.8247403057067517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902dd4c2a7da67ab%3A0xaf347c89bf9af18b!2sDHARMA%20BEACH!5e0!3m2!1ses!2sec!4v1762312100413!5m2!1ses!2sec')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(43)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price">$110 por noche<br><span class="total">($128 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-montañita2.webp' %}" alt="ME Hotel in Montañita Estates" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>ME Hotel in Montañita Estates</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.7885157591704!2d-80.75348559066057!3d-1.8277070981478514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902dd4e9dbaa5b8f%3A0x79922039d219ef94!2sMonta%C3%B1ita%20Estates!5e0!3m2!1ses!2sec!4v1762312254493!5m2!1ses!2sec')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.5/10 <span class="review-count">(48)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price">$130 por noche<br><span class="total">($150 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-montañita3.jpg' %}" alt="Selina Montañita" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Selina Montañita</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.7908446562037!2d-80.75573309066058!3d-1.8266581981489176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902dd4c2982540f9%3A0x3f8d55d5a1419c9f!2sSelina%20Monta%C3%B1ita!5e0!3m2!1ses!2sec!4v1762312502370!5m2!1ses!2sec')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 8.9/10 <span class="review-count">(53)</span></p>
                      <p class="comment">“Muy Bueno”</p>
                      <p class="price">$100 por noche<br><span class="total">($118 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
                <h4>🍽️Restaurantes recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-montañita1.jpg' %}" alt="Tiki Limbo" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Tiki Limbo</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.7913023296633!2d-80.75567679066071!3d-1.8264519981491252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902dd4c2b85589d9%3A0x87628fd0d2845e98!2sTIKI%20LIMBO!5e0!3m2!1ses!2sec!4v1762312689008!5m2!1ses!2sec')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.3/10 <span class="review-count">(40)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price"> Desde $15 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-montañita2.webp' %}" alt="Pigro Montañita" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Pigro Montañita</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63804.660854166796!2d-80.79439322438859!3d-1.8264515224599474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902dd5be1e317405%3A0x16edaddee47179f3!2sPigro%20al%20Sol%20Monta%C3%B1ita!5e0!3m2!1ses!2sec!4v1762312810999!5m2!1ses!2sec')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(50)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $10 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-montañita3.jpg' %}" alt="Shankha Sushi & Bar" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3> Shankha Sushi & Bar</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.8045824779483!2d-80.7588788906606!3d-1.820458598155182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902dd4daf76fd83d%3A0xa866b1ec1d155d37!2sShankha%20Sushi%20%26%20Thai!5e0!3m2!1ses!2sec!4v1762313058506!5m2!1ses!2sec')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(43)</span></p>
                      <p class="comment"> “Excelente”</p>
                      <p class="price"> Desde $10 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
              </div>
                <div class="oferta-contenedor">
                  <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
                  <p class="oferta-descripcion">
                    Aprovecha nuestra oferta que incluye <strong>3 personas</strong> a tan solo 
                    <span class="precio">$120</span>
                  </p>
                  <button class="boton adquirir-paquete " data-nombre="Montañita" data-precio="120"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-flex">
        <h2 class="subtitulo">Salinas</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/salinas1.jpg' %}" alt="Salinas1">
                <img src="{% static 'img/salinas2.jpeg' %}" alt="Salinas2">
                <img src="{% static 'img/salinas3.jpg' %}" alt="Salinas3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
              <p>Una de las playas más populares del Ecuador, ideal para deportes acuáticos y turismo familiar.</p>
              <h3>🍛Comida Típica</h3>
              <ul>
                <li>Cazuela de mariscos</li>
                <li>Arroz marinero</li>
                <li>Corvina frita con patacones</li>
              </ul>
            </div>
            <div>
              <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
              <div class="info-caja">
                <h4>🏢Hoteles recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-salinas1.jpeg' %}" alt="Barceló Salinas" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Barceló Salinas</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(45)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price">$120 por noche<br><span class="total">($138 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-salinas2.JPG' %}" alt="Hostal Cocos" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Hostal Cocos</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 8.5/10 <span class="review-count">(48)</span></p>
                      <p class="comment">“Bueno”</p>
                      <p class="price">$85 por noche<br><span class="total">($92 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-salinas3.jpeg' %}" alt="Blue Bay Hotel" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Blue Bay Hotel</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.3/10 <span class="review-count">(65)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$100 por noche<br><span class="total">($118 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
                <h4>🍽️Restaurantes recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-salinas1.webp' %}" alt="Big Ralph’s" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Big Ralph’s</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(41)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price"> Desde $12 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-salinas2.jpeg' %}" alt="Mariscos Azul" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Mariscos Azul</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.5/10 <span class="review-count">(70)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price"> Desde $15 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-salinas3.jpeg' %}" alt="Casa de Mar" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Casa de Mar</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.1/10 <span class="review-count">(40)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price"> Desde $8 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
              </div>
            <div class="oferta-contenedor">
              <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
              <p class="oferta-descripcion">
                Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
                <span class="precio">$150</span>
              </p>
              <button class="boton adquirir-paquete " data-nombre="Salinas" data-precio="150"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
            </div>
            </div>
        </div>
    </div>
    <div class="card card-flex">
        <h2 class="subtitulo">Puerto López</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/Pueerto1.jpeg' %}" alt="Puerto1">
                <img src="{% static 'img/Pueerto2.jpg' %}" alt="Puerto2">
                <img src="{% static 'img/Pueerto3.jpeg' %}" alt="Puerto3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
                <p>Conocido por el avistamiento de ballenas y acceso a la Isla de la Plata, el "mini Galápagos".</p>
                <h3>🍛Comida Típica</h3>
                <ul>
                  <li>Ceviche de pescado con maní</li>
                  <li>Arroz con concha</li>
                  <li>Cazuela de mariscos</li><br>
                </ul>
            </div>
            <div>
              <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
              <div class="info-caja">
                <h4>🏢Hoteles recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-PuertoLopez1.jpg' %}" alt="Hotel Piedra del Mar" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Hotel Piedra del Mar</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(70)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price">$80 por noche<br><span class="total">($88 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-PuertoLopez2.jpg' %}" alt="Hostería Mandála" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Hostería Mandála</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.5/10 <span class="review-count">(88)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$85 por noche<br><span class="total">($92 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-PuertoLopez3.jpg' %}" alt="Victor Hugo Hotel" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Victor Hugo Hotel</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.3/10 <span class="review-count">(65)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$95 por noche<br><span class="total">($105 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
                <h4>🍽️Restaurantes recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-PuertoLopez1.jpg' %}" alt="Sabor Español" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Sabor Español</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(41)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price"> Desde $10 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-PuertoLopez2.jpeg' %}" alt="Bellitalia Puerto López" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Bellitalia Puerto López</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 8.5/10 <span class="review-count">(40)</span></p>
                      <p class="comment">“Bueno”</p>
                      <p class="price"> Desde $7 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-salinas3.jpeg' %}" alt="Café del Mar" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Café del Mar</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.openstreetmap.org/export/embed.html?bbox=-80.754,-1.821,-80.749,-1.816&layer=mapnik&marker=-1.818,-80.752')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.1/10 <span class="review-count">(40)</span></p>
                      <p class="comment">“excelente”</p>
                      <p class="price"> Desde $5 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
              </div>
            <div class="oferta-contenedor">
              <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
              <p class="oferta-descripcion">
                Aprovecha nuestra oferta que incluye <strong>4 personas</strong> y un viaje a <strong>Las Isalas de la Plata</strong> a tan solo 
                <span class="precio">$180</span>
              </p>
              <button class="boton adquirir-paquete " data-nombre="Puerto Lopez" data-precio="180"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
            </div>
            </div>
        </div>
    </div>

</section>

<script>
function toggleMapa(button, urlMapa) {
  const contenedor = button.nextElementSibling;
  console.log('URL del mapa:', urlMapa);

  if (contenedor.style.display === 'block') {
    contenedor.style.display = 'none';
    button.textContent = 'Ver mapa';
    contenedor.innerHTML = '';
  } else {
    contenedor.style.display = 'block';
    button.textContent = 'Ocultar mapa';
    contenedor.innerHTML = `
      <iframe src="${urlMapa}" allowfullscreen loading="lazy"></iframe>
      <br>
    `;
  }
}

</script>


<div id="footer-container"></div>
<div id="modal-container"></div>

</body>
<script src="{% static 'js/layout.js' %}"></script>
<script src="{% static 'js/carrito.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/info-hoteles.js' %}"></script>
</html>
