{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Turismo en la Galápagos</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap-grid.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>
<body>

<div id="header-container"></div>

<section class="card">
  <h2 class="titulo">Destinos en la Galápagos</h2>
    <div class="card card-flex">
        <h2 class="subtitulo">Isla Isabela</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/Isabela1.jpeg' %}" alt="1">
                <img src="{% static 'img/Isabela2.jpg' %}" alt="2">
                <img src="{% static 'img/Isabela3.jpg' %}" alt="3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
              <p>Centro turístico de Galápagos, hogar de la Estación Científica Charles Darwin y Tortuga Bay.</p>
              <h3>🍛Comida Típica</h3>
              <ul>
                <li>Langosta galapagueña</li>
                <li>Sopa de cangrejo</li>
                <li>Camarones apanados</li><br>
              </ul>
            </div>
            <div>
            <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
            <div class="info-caja">
              <h4>🏢Hoteles recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-Isabela1.jpg' %}" alt="Hotel Casa Blanca" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hotel Casa Blanca</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Hotel+Casa+Blanca+Puerto+Villamil+Isabela&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.7/10 <span class="review-count">(63)</span></p>
                    <p class="comment">"Excelente"</p>
                    <p class="price">$150 por noche<br><span class="total">($155 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-Isabela2.jpg' %}" alt="Arena Blanca Eco Hotel" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Arena Blanca Eco Hotel</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Arena+Blanca+Eco+Hotel+Puerto+Villamil&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(68)</span></p>
                    <p class="comment">“Muy Bueno”</p>
                    <p class="price">$95 por noche<br><span class="total">($100 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-Isabela3.jpg' %}" alt="Eco Hotel Katarma" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Eco Hotel Katarma</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Eco+Hotel+Katarma+Puerto+Villamil&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.3/10 <span class="review-count">(65)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$100 por noche<br><span class="total">($118 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
              <h4>🍽️Restaurantes recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-isabela1.jpg' %}" alt="Isabela grill" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Isabela grill</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6117.244797419004!2d-90.96783684462211!3d-0.9564659906666109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9aabebdf50589dc9%3A0x38218c922abc1553!2sIsabela%20grill!5e0!3m2!1ses!2sus!4v1762321292265!5m2!1ses!2sus')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.5/10 <span class="review-count">(51)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $10 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-isabela2.jpg' %}" alt="Ramsar Safari" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Ramsar Safari</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6117.244797419004!2d-90.96783684462211!3d-0.9564659906666109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9aabeb48cb90a00f%3A0xf87ade29d5abe00e!2sRamsar%20Safari!5e0!3m2!1ses!2sus!4v1762321381558!5m2!1ses!2sus')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.8/10 <span class="review-count">(95)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $15 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-isabela3.jpg' %}" alt="EL DESCANSO Marinero" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>EL DESCANSO Marinero</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=El+Descanso+Marinero+Puerto+Villamil&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.1/10 <span class="review-count">(49)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $12 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
            </div>
            <div class="oferta-contenedor">
              <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
              <p class="oferta-descripcion">
                Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
                <span class="precio">$190</span>
              </p>
              <button class="boton adquirir-paquete " data-nombre="Isla Isabela" data-precio="190"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
            </div>
            </div>
        </div>
    </div>

    <div class="card card-flex">
        <h2 class="subtitulo">Isla Santa Cruz</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/Isla-Cruz1.webp' %}" alt="1">
                <img src="{% static 'img/Isla-Cruz2.webp' %}" alt="2">
                <img src="{% static 'img/Isla-Cruz3.jpg' %}" alt="3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
              <p>Isla con historia única de colonos y piratas, poco visitada, ideal para ecoturismo.</p>
              <h3>🍛Comida Típica</h3>
              <ul>
                <li>Ceviche de pulpo</li>
                <li>Pescado al ajillo</li>
                <li>Langosta a la parrilla</li>
              </ul>
            </div>
            <div>
            <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
            <div class="info-caja">
              <h4>🏢Hoteles recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-cruz1.jpg' %}" alt="Hotel Ninfa" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hotel Ninfa</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Hotel+Ninfa+Puerto+Ayora+Santa+Cruz&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(63)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$160 por noche<br><span class="total">($165 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-cruz2.jpg' %}" alt="Galapagos Morning Glory" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Galapagos Morning Glory</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Galapagos+Morning+Glory+Hotel+Puerto+Ayora&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 8.7/10 <span class="review-count">(68)</span></p>
                    <p class="comment">“Bueno”</p>
                    <p class="price">$85 por noche<br><span class="total">($92 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-cruz3.jpg' %}" alt="Hotel Fiesta" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hotel Fiesta</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Hotel+Fiesta+Puerto+Ayora+Santa+Cruz&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.3/10 <span class="review-count">(65)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$100 por noche<br><span class="total">($118 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
              <h4>🍽️Restaurantes recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-cruz1.jpg' %}" alt="Golden Prague Pub" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Golden Prague Pub</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Golden+Prague+Pub+Puerto+Ayora&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.4/10 <span class="review-count">(51)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $12 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-cruz2.jpg' %}" alt="FRAFRE GASTROBAR" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>FRAFRE GASTROBAR</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15957.935385792805!2d-90.32864332112406!3d-0.7418997384207622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9aaa5d0fddb5fe31%3A0x29abe0069167a6da!2sFRAFRE%20GASTROBAR!5e0!3m2!1ses!2sus!4v1762321555257!5m2!1ses!2sus')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(75)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $14 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-cruz3.jpg' %}" alt="EL DESCANSO Marinero" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>EL DESCANSO Marinero</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=El+Descanso+Marinero+Puerto+Ayora&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.1/10 <span class="review-count">(49)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $12 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
            </div>
            <div class="oferta-contenedor">
              <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
              <p class="oferta-descripcion">
                Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
                <span class="precio">$200</span>
              </p>
              <button class="boton adquirir-paquete " data-nombre="Isla Santa Cruz" data-precio="200"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
            </div>
            </div>
        </div>
    </div>

    <div class="card card-flex">
        <h2 class="subtitulo">Isla San Cristóbal</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/Isla-Cristobal1.jpg' %}" alt="1">
                <img src="{% static 'img/Isla-Cristobal2.jpg' %}" alt="2">
                <img src="{% static 'img/Isla-Cristobal3.webp' %}" alt="3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
                <p>Ideal para buceo, surf y senderismo; también alberga la capital provincial, Puerto Baquerizo Moreno.</p>
                <h3>🍛Comida Típica</h3>
                <ul>
                  <li>Encocado de pescado</li>
                  <li>Arroz marinero</li>
                  <li>Caldo de bagre</li>
                </ul>
            </div>
            <div>
            <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
            <div class="info-caja">
              <h4>🏢Hoteles recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-Cristobal1.jpg' %}" alt="Hotel Casa Blanca" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Hotel Casa Blanca</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Hotel+Casa+Blanca+Puerto+Baquerizo+Moreno+San+Cristobal&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.7/10 <span class="review-count">(63)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$150 por noche<br><span class="total">($155 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-Cristobal2.jpg' %}" alt="Arena Blanca Eco Hotel" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Arena Blanca Eco Hotel</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Arena+Blanca+Eco+Hotel+Puerto+Baquerizo+Moreno&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.0/10 <span class="review-count">(68)</span></p>
                    <p class="comment">“Muy Bueno”</p>
                    <p class="price">$95 por noche<br><span class="total">($100 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/hotel-Cristobal3.jpg' %}" alt="Eco Hotel Katarma" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Eco Hotel Katarma</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Eco+Hotel+Katarma+Puerto+Baquerizo+Moreno&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.3/10 <span class="review-count">(65)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price">$100 por noche<br><span class="total">($118 en total)</span></p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
              <h4>🍽️Restaurantes recomendados</h4>
              <div class="container-card">
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-Cristobal1.jpg' %}" alt="Cabaña Grande" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Cabaña Grande</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.590373012525!2d-89.6130993574799!3d-0.9015418376593346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9000e9e3e655b211%3A0x5ac0126836daadc4!2sCaba%C3%B1a%20Grande!5e0!3m2!1ses!2sus!4v1762321763813!5m2!1ses!2sus')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.5/10 <span class="review-count">(51)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $10 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-Cristobal2.jpg' %}" alt="Post Office" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>Post Office</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Post+Office+Puerto+Baquerizo+Moreno+San+Cristobal&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.8/10 <span class="review-count">(95)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $15 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
                <div class="card-hotel">
                  <img src="{% static 'img/restaurant-Cristobal3.jpg' %}" alt="El Descanso Marinero" class="card-hotel-img">
                  <div class="card-body-hotel">
                    <h3>El Descanso Marinero</h3>
                    <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=El+Descanso+Marinero+Puerto+Baquerizo+Moreno&output=embed')">Ver mapa</button>
                    <div class="mapa-contenedor"></div>
                    <p class="rating">⭐ 9.1/10 <span class="review-count">(49)</span></p>
                    <p class="comment">“Excelente”</p>
                    <p class="price"> Desde $12 por comida</p>
                  </div>
                  <button class="fav-btn">❤️</button>
                </div>
              </div>
            </div>
            <div class="oferta-contenedor">
              <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
              <p class="oferta-descripcion">
                Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
                <span class="precio">$220</span>
              </p>
              <button class="boton adquirir-paquete " data-nombre="Isla San Cristobal" data-precio="220"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
            </div>
            </div>
        </div>
    </div>
</section>

<script>
function toggleMapa(button, urlMapa) {
  const contenedor = button.nextElementSibling;
  console.log('URL del mapa:', urlMapa);

  if (contenedor.style.display === 'block') {
    contenedor.style.display = 'none';
    button.textContent = 'Ver mapa';
    contenedor.innerHTML = '';
  } else {
    contenedor.style.display = 'block';
    button.textContent = 'Ocultar mapa';
    contenedor.innerHTML = `
      <iframe src="${urlMapa}" allowfullscreen loading="lazy"></iframe>
      <br>
    `;
  }
}
</script>

<div id="footer-container"></div>
<div id="modal-container"></div>

</body>
<script src="{% static 'js/layout.js' %}"></script>
<script src="{% static 'js/carrito.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/info-hoteles.js' %}"></script>
</html>
