{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Turismo en la Sierra</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap-grid.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>
<body>

<div id="header-container"></div>

<section class="card">
  <h2 class="titulo">Destinos en la Sierra</h2>
    <div class="card card-flex">
        <h2 class="subtitulo">Quito</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/Quito1.jpg' %}" alt="1">
                <img src="{% static 'img/Quito2.avif' %}" alt="2">
                <img src="{% static 'img/Quito3.jpg' %}" alt="3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
              <p>Capital del Ecuador, famosa por su centro histórico colonial y su cercanía a la Mitad del Mundo.</p>
              <h3>🍛Comida Típica</h3>
              <ul>
                <li>Locro de papa</li>
                <li>Hornado</li>
                <li>Empanadas de viento</li><br>
              </ul>
            </div>
            <div>
              <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
              <div class="info-caja">
                <h4>🏢Hoteles recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-Quito1.jpg' %}" alt="Hotel Plaza Grande" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Hotel Plaza Grande</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Hotel+Plaza+Grande+Quito&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.8/10 <span class="review-count">(70)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$100 por noche<br><span class="total">($108 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-Quito2.jpg' %}" alt="Casa Gangotena" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Casa Gangotena</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Casa+Gangotena+Quito&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.7/10 <span class="review-count">(88)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$95 por noche<br><span class="total">($100 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-Quito3.jpg' %}" alt="Swissôtel Quito" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Swissôtel Quito</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Swissotel+Quito&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.7/10 <span class="review-count">(75)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$95 por noche<br><span class="total">($105 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
                <h4>🍽️Restaurantes recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-Quito1.jpg' %}" alt="Zazu" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Zazu</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Zazu+Quito+Mariano+Aguilera&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(41)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $10 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-Quito2.jpg' %}" alt="El Ventanal" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>El Ventanal</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=El+Ventanal+Quito&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.5/10 <span class="review-count">(90)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $15 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-Quito3.jpg' %}" alt="Café Mosaico" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Café Mosaico</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Cafe+Mosaico+Quito&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.7/10 <span class="review-count">(90)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $15 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
              </div>
            <div class="oferta-contenedor">
              <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
              <p class="oferta-descripcion">
                Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
                <span class="precio">$170</span>
              </p>
              <button class="boton adquirir-paquete " data-nombre="Quito" data-precio="170"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
            </div>
            </div>
        </div>
    </div>

    <div class="card card-flex">
        <h2 class="subtitulo">Baños de Agua Santa</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/baños1.webp' %}" alt="1">
                <img src="{% static 'img/baños2.jpg' %}" alt="2">
                <img src="{% static 'img/baños3.jpg' %}" alt="3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
              <p>Conocido por sus cascadas, aguas termales y deportes extremos como canopy y rafting.</p>
              <h3>🍛Comida Típica</h3>
              <ul>
                <li>Llapingachos</li>
                <li>Cuy asado</li>
                <li>Mote con chicharrón</li>
              </ul>
            </div>
            <div>
              <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
              <div class="info-caja">
                <h4>🏢Hoteles recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-banos1.webp' %}" alt="Samari Spa Resort" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Samari Spa Resort</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Samari+Spa+Resort+Ba%C3%B1os+Ecuador&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.3/10 <span class="review-count">(50)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$80 por noche<br><span class="total">($88 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-banos2.jpeg' %}" alt="La Floresta Hotel" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>La Floresta Hotel</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Hotel+La+Floresta+Ba%C3%B1os+Ecuador&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.2/10 <span class="review-count">(58)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$95 por noche<br><span class="total">($100 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-banos3.jpg' %}" alt="Luna Volcán Adventure Spa" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Luna Volcán Adventure Spa</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Luna+Volcan+Adventure+Spa+Ba%C3%B1os+Ecuador&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.7/10 <span class="review-count">(75)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$115 por noche<br><span class="total">($125 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
                <h4>🍽️Restaurantes recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-bano1.jpg' %}" alt="Casa Hood" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Casa Hood</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Casa+Hood+Ba%C3%B1os+Ecuador&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(41)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $10 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-bano2.jpg' %}" alt="Leoni Pizzería" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Leoni Pizzería</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Leoni+Pizzeria+Ba%C3%B1os+Ecuador&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.4/10 <span class="review-count">(90)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $13 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-bano3.jpg' %}" alt="Café del Cielo" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Café del Cielo</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Cafe+del+Cielo+Banos+Ecuador&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.8/10 <span class="review-count">(90)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $15 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
              </div>
            <div class="oferta-contenedor">
              <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
              <p class="oferta-descripcion">
                Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
                <span class="precio">$130</span>
              </p>
              <button class="boton adquirir-paquete " data-nombre="Baños" data-precio="130"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
            </div>
            </div>
        </div>
    </div>

    <div class="card card-flex">
        <h2 class="subtitulo">Cuenca</h2>
        <div class="card-content">
            <div class="carrusel-js">
              <div class="slides-js">
                <img src="{% static 'img/cuenca1.webp' %}" alt="1">
                <img src="{% static 'img/cuenca2.jpg' %}" alt="2">
                <img src="{% static 'img/cuenca3.webp' %}" alt="3">
              </div>
              <div class="nav-js">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
            <div>
                <p>Ciudad colonial declarada Patrimonio de la Humanidad por la UNESCO, ideal para el turismo cultural.</p>
                <h3>🍛Comida Típica</h3>
                <ul>
                  <li>Mote pillo</li>
                  <li>Caldo de patas</li>
                  <li>Cuy con papas</li><br>
                </ul>
            </div>
            <div>
              <a href="#" class="boton info-hoteles">Ver hoteles y restaurantes</a>
              <div class="info-caja">
                <h4>🏢Hoteles recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-cuenca1.jpg' %}" alt="Hotel Boutique Santa Lucia" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Hotel Boutique Santa Lucia</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Hotel+Boutique+Santa+Lucia+Cuenca&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.3/10 <span class="review-count">(50)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$90 por noche<br><span class="total">($98 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-cuenca2.webp' %}" alt="Mansion Alcazar" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Mansion Alcazar</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Mansion+Alcazar+Cuenca&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.2/10 <span class="review-count">(58)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$95 por noche<br><span class="total">($100 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/hotel-cuenca3.jpg' %}" alt="Hotel Victoria" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Hotel Victoria</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Hotel+Victoria+Cuenca&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.7/10 <span class="review-count">(75)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price">$115 por noche<br><span class="total">($125 en total)</span></p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
                <h4>🍽️Restaurantes recomendados</h4>
                <div class="container-card">
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-cuenca1.jpg' %}" alt="Raymipampa" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Raymipampa</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Raymipampa+Cuenca&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.0/10 <span class="review-count">(41)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $10 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-cuenca2.jpeg' %}" alt="Tiesto’s" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>Tiesto’s</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=Tiesto%27s+Cuenca&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.4/10 <span class="review-count">(90)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $13 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                  <div class="card-hotel">
                    <img src="{% static 'img/restaurant-cuenca3.jpg' %}" alt="El Mercado" class="card-hotel-img">
                    <div class="card-body-hotel">
                      <h3>El Mercado</h3>
                      <button class="btn-mapa" onclick="toggleMapa(this, 'https://www.google.com/maps?q=El+Mercado+Cuenca+Ecuador&output=embed')">Ver mapa</button>
                      <div class="mapa-contenedor"></div>
                      <p class="rating">⭐ 9.8/10 <span class="review-count">(90)</span></p>
                      <p class="comment">“Excelente”</p>
                      <p class="price"> Desde $15 por comida</p>
                    </div>
                    <button class="fav-btn">❤️</button>
                  </div>
                </div>
              </div>
            <div class="oferta-contenedor">
              <h2 class="oferta-titulo">🎉 Oferta Especial</h2>
              <p class="oferta-descripcion">
                Aprovecha nuestra oferta que incluye <strong>4 personas</strong> a tan solo 
                <span class="precio">$160</span>
              </p>
              <button class="boton adquirir-paquete " data-nombre="Cuenca" data-precio="160"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
            </div>
            </div>
        </div>
    </div>

</section>

<script>
function toggleMapa(button, urlMapa) {
  const contenedor = button.nextElementSibling;
  console.log('URL del mapa:', urlMapa);

  if (contenedor.style.display === 'block') {
    contenedor.style.display = 'none';
    button.textContent = 'Ver mapa';
    contenedor.innerHTML = '';
  } else {
    contenedor.style.display = 'block';
    button.textContent = 'Ocultar mapa';
    contenedor.innerHTML = `
      <iframe src="${urlMapa}" allowfullscreen loading="lazy"></iframe>
      <br>
    `;
  }
}
</script>

<div id="footer-container"></div>
<div id="modal-container"></div>

</body>
<script src="{% static 'js/layout.js' %}"></script>
<script src="{% static 'js/carrito.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/info-hoteles.js' %}"></script>
</html>
